@mixin containerWidths {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 2em 0em;
}

@mixin star-bg{
  background-image: url(../img/header-stars-pattern.png);
  opacity: 0.5;
}

@mixin pseudoEls {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

// MEDIA QUERY MIXIN
/* breakpoint screen widths */
$small: 24.15em;
$medium: 43.75em;
$large: 60.25em;
$xlarge: 75em;
$xxlarge: 100em;

@mixin mediaquery-sm {
  @media only screen and (max-width: $small) {
    @content;
  }
}

@mixin mediaquery-md {
  @media only screen and (min-width: $medium) {
    @content;
  }
}
@mixin mediaquery-lg {
  @media only screen and (min-width: $large) {
    @content;
  }
}
@mixin mediaquery-xl {
  @media only screen and (min-width: $xlarge) {
    @content;
  }
}
@mixin mediaquery-xxl {
  @media only screen and (min-width: $xxlarge) {
    @content;
  }
}
