/* Footer */

.footer {
  background-color: var(--clr-bg-hero);
  // padding:10rem 0;
}
.footer__content {
  text-align:center;

}
.footer__heading {
  @include text-xxlarge();
  text-align:center;
}

.footer__description {
  grid-area:copy;
  @include text-mlarge();
  line-height:1.6;
  letter-spacing:.25px;
  margin-top:1rem;
}
.btn__footer-wrapper {
  grid-area:cta;
}
.footer__socials {
  grid-area:socials;
  margin-top:5rem;

}
.footer__social-link {
  color:var(--clr-accent-yellow);
}
//

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:100%;
}
.footer__social-item {
  @include text-large();

}


@include mediaquery-lg {

  .footer__content {
    display:grid;
    grid-template-areas:
    "copy  "
    "cta"
    "socials";
    grid-template-columns:  minmax(550px, 10%) 1fr;
    grid-template-rows: auto;
    text-align:left;
  }
  .footer__heading {
    text-align: left;
    padding-bottom:1rem;
  }
  .footer__description {
    @include text-medium();
    line-height:1.5;
  }

  .footer__social-item {
    @include text-large();
  }
}

@include mediaquery-xl {
  .footer__content {
    grid-template-columns:  minmax(700px, 10%) 1fr;
  }
  .footer__description {
    @include text-mlarge();
    line-height:1.5;
    font-weight:100;
  }
}
