.header {
  display:grid;
  grid-template-areas:
  "nav"
  "hero"
  ;
  grid-template-rows: 15% 1fr ;
  justify-items: center;
  //
  position: relative;
  background-color: var(--clr-bg-hero);
  z-index: 1;
  height: 85vh;

  // Transitioning Gradient
  background: rgb(10, 0, 26);
  background: -moz-linear-gradient(
    180deg,
    rgba(10, 0, 26, 1) 80%,
    rgba(53, 0, 87, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(10, 0, 26, 1) 80%,
    rgba(53, 0, 87, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(10, 0, 26, 1) 80%,
    rgba(53, 0, 87, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a001a",endColorstr="#350057",GradientType=1);
}


// Adding Grid Areas for the columns

.header__nav-wrapper {
  grid-area: nav;
}
.header__hero-wrapper {
  grid-area: hero;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}


.header::before,
.header::after {
  @include pseudoEls;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.header::before {
  @include star-bg;
}

.header::after {
  background-image: url(../img/header-twinkles-pattern.png);
  opacity: 0.1;
}

.header:hover::after {
  -webkit-animation: blink 2s infinite ease-in alternate;
  animation: blink 2s infinite ease-in alternate;
}

.header__logo-text {
  color: var(--clr-primary-pink);
}

/* Text Shadow on hover transitions */
.header__text-hover {
  display:inline-block;
  color: var(--clr-accent-yellow);
  text-shadow: 1px 1rem 1px var(--clr-primary-pink);
  transition: var(--transition);

}
.header__text-hover:hover {
  text-shadow: 5px -5px 0 var(--clr-primary-pink);
}


.header__hero-wrapper::before,
.header__hero-wrapper::after {
  @include pseudoEls;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.header__hero-wrapper::after {
  background-image: url(../img/hero-light-flares.svg);
  background-repeat: no-repeat;
  background-size: 80% 160%;
  background-position: -23vw 65%;
}

// Image Wrapper
.hero__img-wrapper {
  position: absolute;
  top: -7em;
  right: 2.5em;
}

.hero__img-wrapper::before,
.hero__img-wrapper::after {
  content: "";
  position: absolute;
  display: block;
  width: 125px;
  height: 125px;
  top: 0;
  border-radius: var(--br-circle);
}
.hero__img-wrapper::before {
  left: 8px;
  box-shadow: 2px 0px 0 var(--clr-secondary-turquoise);
  opacity: 0.65;
}
.hero__img-wrapper::after {
  right: 8px;
  box-shadow: -2px -2px 0 var(--clr-primary-pink);
  opacity: 0.45;
}

.hero__img {
  border-radius: var(--br-circle);
  width: 125px;
  box-shadow: var(--box-shadow);
}

.hero__heading {
  font-weight: var(--fw-normal);
  @include text-medium();
}

.hero__name {
  @include text-xxlarge-header();
}
.hero__subheading {
  @include text-large();
}

.hero__about-copy {
  margin-top: 0.8em;
  max-width: 52ch;
}

@include mediaquery-md {
  .header {
    height: 100vh;
  }
  .hero {
    /* Grid Layout for  hero Section*/
    display: grid;
    grid-template-columns: 1fr minmax(220px, 10%);
    grid-template-rows: auto auto auto;
    grid-column-gap: 2em;
    grid-template-areas:
      "content img "
      "about img"
      "cta ...";


  }

  .hero__img-wrapper {
    grid-area: img;
    position: relative;
    top: 0;
    left: 0;
  }

  .hero__content {
    grid-area: content;
    height:100%;
  }
  .hero__about {
    grid-area: about;
  }
  .hero__btn {
    grid-area: cta;
  }

  // Misc hero IMG Stying
  .hero__img-wrapper::before,
  .hero__img-wrapper::after,
  .hero__img {
    width: 225px;
    height: 225px;
  }

  // Hero Content Typography
  .hero__subheading {
    @include text-xlarge();
  }
  .hero__about-copy {
    line-height: 1.6;
  }
}

@include mediaquery-lg {
  .hero {
    grid-template-columns: 1fr minmax(300px, 10%);

  }
  .hero__img-wrapper::before,
  .hero__img-wrapper::after,
  .hero__img {
    width: 300px;
    height: 300px;
  }
}
